[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
yapf = "*"

[packages]
django = "==2.2"
djangorestframework = "*"
django-crispy-forms = "*"
pandas = "*"
sklearn = "*"
numpy = "*"
pickle = "*"

[requires]
python_version = "3.7"
